<one-admin-loader *ngIf="isLoading" size="sm"></one-admin-loader>
<form #f="ngForm" (ngSubmit)="login(f)" name="form">
  <div class="form-group">
    <input #email="ngModel" (ngModelChange)="onFormChanges()" [(ngModel)]="loginForm.email.value" [class.has-error]="loginForm.email.isError"
           class="form-control has-icon"
           email name="email" placeholder="Email" required type="email">
    <div *ngIf="loginForm.email.isError" @fly_error_message class="alert alert-danger custom-alert"
         role="alert">{{loginForm.email.errorMsg}}</div>
    <div class="icons email-icon"></div>
  </div>
  <div class="form-group">
    <input #password="ngModel" (ngModelChange)="onFormChanges()" [(ngModel)]="loginForm.password.value" [class.has-error]="loginForm.password.isError"
           class="form-control has-icon"
           minlength="4" name="password" placeholder="Password" required
           type="password">
    <div *ngIf="loginForm.password.isError" @fly_error_message class="alert alert-danger custom-alert"
         role="alert">{{loginForm.password.errorMsg}}</div>
    <div class="icons password-icon"></div>
  </div>
  <div class="checkbox mt-0 mb-15">
    <input id="chbRemember" type="checkbox">
    <label for="chbRemember">Remember me for next time</label>
  </div>
  <div *ngIf="loginForm.general.isError" @fly_error_message class="alert alert-danger custom-alert"
       role="alert">{{loginForm.general.errorMsg}}</div>
  <div class="row">
    <div class="col-xs-6"><a class="password-link" routerLink="/reset_password">Forgot password</a></div>
    <div class="col-xs-6 text-right">
      <button class="btn btn-primary">Login</button>
    </div>
  </div>
</form>
