<a (click)="close.emit(false)" class="clear-icon">Close</a>
<h5 class="mb-20 color-white">{{isNew ? 'Add' : 'Edit'}} Group</h5>
<form #companyForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="row narrow-row" style="margin-bottom: 0;">
    <div class="col-sm-12">
      <div class="right-sidebar form-group">
        <label class="control-label">Name</label>
        <input [(ngModel)]="company.name" class="form-control" name="companyName" placeholder="Group name" required
               type="text">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="right-sidebar form-group">
        <label class="control-label">Description</label>
        <input [(ngModel)]="company.address" class="form-control" name="description" placeholder="Description go to here"
               required type="text">
      </div>
    </div>
  </div>
  <button [disabled]="!companyForm.form.valid" class="btn btn-primary btn-block"
          type="submit">{{isNew ? 'Complete' : 'Complete'}}</button>
</form>
<one-admin-loader *ngIf="isLoading" size="sm"></one-admin-loader>
