<one-admin-loader *ngIf="isLoading" size="sm"></one-admin-loader>
<div class="info-pages" id="wrapper">
  <div class="info-window-wrap">
    <div class="info-window reset-window">
      <div class="logo"></div>
      <form #f="ngForm" (ngSubmit)="forgotPassword(f)" *ngIf="!isSuccess" name="form">
        <h4 class="text-center">Reset Password</h4>
        <p>Please enter your email address below to reset password.</p>
        <div class="form-group">
          <input #email="ngModel" (ngModelChange)="onFormChanges()" [(ngModel)]="forgetPasswordForm.email.value" [class.has-error]="forgetPasswordForm.email.isError"
                 class="form-control has-icon" email
                 name="email" placeholder="Email" required type="email">
          <div *ngIf="forgetPasswordForm.email.isError" @fly_error_message class="alert alert-danger custom-alert"
               role="alert">{{forgetPasswordForm.email.errorMsg}}</div>
          <div class="icons email-icon"></div>
        </div>
        <div *ngIf="forgetPasswordForm.general.isError" @fly_error_message class="alert alert-danger custom-alert"
             role="alert">{{forgetPasswordForm.general.errorMsg}}</div>
        <div class="row">
          <div class="col-xs-6"><a class="password-link" routerLink="/login">Back</a></div>
          <div class="col-xs-6 text-right">
            <button class="btn btn-primary">Reset</button>
          </div>
        </div>
      </form>

      <form *ngIf="isSuccess">
        <div class="form-group">
          <h4 class="text-center">Reset Password</h4>
          <p>An email has been successfully sent. Please follow the reset link within the email. Please check your spam
            folder.</p>
        </div>
        <div class="text-center">
          <button class="btn btn-primary" routerLink="/login">Back to login</button>
        </div>
      </form>
    </div>
    <div class="copyinfo">(c) Intelico - All rights reserved</div>
  </div>
</div> <!-- end wrapper contents -->
