.img {
  width: 140px;
  height: 140px;
  margin: 0 0 20px;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
}

.close--btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url(../../../../../../assets/images/clear-icon-red.svg);
  background-size: 20px auto;
  width: 20px;
  height: 20px;
}
