<div class="tab-content identifier-scroll">
  <div id="images-tab">
    <div class="row narrow-row">
      <div class="col-sm-4">
        <div class="img" style="background-image:url(assets/images/historydetail-pic.jpg)"><a class="clear-icon"
                                                                                              href="#">Remove</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="img" style="background-image:url(assets/images/historydetail-pic.jpg)"><a class="clear-icon"
                                                                                              href="#">Remove</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="add-img" style="">
          <button class="btn btn-primary" type="button">Add Photo</button>
        </div>
      </div>
    </div>
  </div>  <!-- end individual tab -->
</div>
