<div class="info-pages" id="wrapper">
  <div class="info-window newpassword-window">
    <h4>New password</h4>
    <p>Please enter your new password below</p>
    <form>
      <div class="form-group">
        <input class="form-control" placeholder="Email" type="text">
      </div>

      <div class="form-group">
        <input class="form-control" placeholder="Password" type="password">
        <!-- @liu use "warning" and "danger" classes for other 2 types -->
        <span class="indicator success"></span>
      </div>

      <div class="form-group">
        <input class="form-control" placeholder="Confirm Password" type="password">
      </div>

      <div class="footer-btn">
        <button class="btn btn-primary btn-block" routerLink="/login" type="submit">Change Password</button>
      </div>
    </form>
  </div>
</div>  <!-- end wrapper contents -->
