<div id="additional-tab">
  <div class="row narrow-row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Type</label>
        <select class="form-control">
          <option>Text</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Make</label>
        <select class="form-control">
          <option>Text</option>
        </select>
      </div>
    </div>
  </div>  <!-- end row -->

  <div class="row narrow-row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Model</label>
        <select class="form-control">
          <option>Text</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Serial</label>
        <input class="form-control" placeholder="Text" type="text">
      </div>
    </div>
  </div>  <!-- end row -->

  <div class="row narrow-row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">IP Address</label>
        <input class="form-control" placeholder="Text" type="text">
      </div>
    </div>
  </div>  <!-- end row -->
</div>  <!-- end individual tab -->
