button {
  outline: none;
}

.img {
  cursor: pointer;
}

.open-locate-button {
  position: absolute;
  z-index: 999;
  right: 50px;
}

.event-detail-info .btn {
  text-align: center;
}

.narrow--row {
  margin-top: 5px;
}

.event-detail-info .event-info-wrapper {
  overflow-y: auto;
  width: 100%;
}

:host {
  ::ng-deep {
    .table-inner-wrapper {
      height: calc(100% - 42px) !important;
    }
  }
}
