<div class="flex-window">
  <div class="filters clearfix">
    <h4 class="pull-left">User Roles ({{data.length}})</h4>

    <button (click)="showAddModal = true" class="btn btn-primary pull-left" type="button">Add New</button>

    <div class="pull-right">
      <div class="form-group has-icon">
        <input class="form-control" placeholder="Search" type="text">
      </div>
    </div>
  </div>  <!-- end filters -->

  <one-admin-frozen-header-table [data]="data" [info]="info"></one-admin-frozen-header-table>

</div>

<div class="custom-modal">
  <div *ngIf="showAddModal" class="overlay"></div>
  <div *ngIf="showAddModal" @flyInOut class="add--sidebar">
    <one-admin-widget-super-admin-user-roles-add
      (close)="showAddModal = false"></one-admin-widget-super-admin-user-roles-add>
  </div>
</div>
