<div id="additional-tab">
  <div class="row narrow-row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Type</label>
        <select class="form-control">
          <option>Text</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Make</label>
        <select class="form-control">
          <option>Text</option>
        </select>
      </div>
    </div>
  </div>  <!-- end row -->

  <div class="row narrow-row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Model</label>
        <select class="form-control">
          <option>Text</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Colour</label>
        <select class="form-control">
          <option>Text</option>
        </select>
      </div>
    </div>
  </div>  <!-- end row -->

  <div class="row narrow-row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Country Code</label>
        <select class="form-control">
          <option>Text</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Fuel Type</label>
        <select class="form-control">
          <option>Text</option>
        </select>
      </div>
    </div>
  </div>  <!-- end row -->
</div>  <!-- end individual tab -->
