<a (click)="close.emit(false)" class="clear-icon">Close</a>
<h5 class="mb-20 color-white">{{isNew ? 'Add' : 'Edit'}} Output</h5>
<form #webhooksForm="ngForm" (ngSubmit)="onSubmit()" style="height: 92%;">
  <div class="row narrow-row" style="margin-bottom: 0;">
    <div class="col-xs-12">
      <div class="right-sidebar form-group">
        <label class="control-label">Name</label>
        <input [(ngModel)]="webhooks.name" class="form-control" name="webhooksName" placeholder="Output name"
               required type="text">
      </div>
    </div>
    <hr>
    <div class="col-xs-12">
      <div class="right-sidebar form-group has-btn">
        <label class="control-label">People</label>
        <select [(ngModel)]="webhooks.fieldFirstName" [ngModelOptions]="{standalone: true}" class="form-control"
                required style="width: 77%">
          <option disabled selected value="default">Select Field (First Name)</option>
          <option *ngFor="let type of fieldFirstName" [value]="type.value">{{type.value}}</option>
        </select>
        <button (click)="addNewIdentifier(webhooks.fieldFirstName, 'People')" class="btn btn-primary pull-left" style="top: 32px;"
                type="button">Add
        </button>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="right-sidebar form-group has-btn">
        <label class="control-label">Identifier</label>
        <select [(ngModel)]="webhooks.fieldMetaDataFirstName" [ngModelOptions]="{standalone: true}" class="form-control"
                required style="width: 77%">
          <option disabled selected value="default">Select Field / Metadata (First Name)</option>
          <option *ngFor="let type of fieldMetaDataFirstName" [value]="type.value">{{type.value}}</option>
        </select>
        <button (click)="addNewIdentifier(webhooks.fieldMetaDataFirstName, 'Identifier')" class="btn btn-primary pull-left"
                style="top: 32px;"
                type="button">Add
        </button>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="right-sidebar form-group has-btn">
        <label class="control-label">Source</label>
        <select [(ngModel)]="webhooks.fieldMetaDataLocation" [ngModelOptions]="{standalone: true}" class="form-control"
                required style="width: 77%">
          <option disabled selected value="default">Select Field / Metadata (Location)</option>
          <option *ngFor="let type of fieldMetaDataLocation" [value]="type.value">{{type.value}}</option>
        </select>
        <button (click)="addNewIdentifier(webhooks.fieldMetaDataLocation, 'Source')" class="btn btn-primary pull-left" style="top: 32px;"
                type="button">Add
        </button>
      </div>
    </div>
  </div>
  <hr *ngIf="frozenTableData.length > 0" style="margin: 0">
  <one-admin-frozen-header-table (remove)="onRemove($event)"
                                 *ngIf="frozenTableData.length > 0"
                                 [data]="frozenTableData"
                                 [info]="info"
                                 [isPeopleTable]="true"
                                 [isTableScroller]="false"
                                 style="height: 20%;"></one-admin-frozen-header-table>
  <button [disabled]="!webhooksForm.form.valid" class="btn btn-primary btn-block"
          type="submit">{{isNew ? 'Next' : 'Next'}}</button>
</form>
<one-admin-loader *ngIf="isLoading" size="sm"></one-admin-loader>
