<a (click)="close.emit(false)" class="clear-icon">Close</a>
<h5>Add User Role</h5>
<ul class="nav nav-tabs custom-tabs transparent-tabs" role="tablist">
  <li class="active" role="presentation"><a aria-controls="Details" aria-expanded="true" data-toggle="tab" href="#detail-tab"
                                            role="tab">Details</a></li>
  <li class="" role="presentation"><a aria-controls="Owner" aria-expanded="false" data-toggle="tab" href="#permission-tab"
                                      role="tab">Permissions</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="detail-tab" role="tabpanel">
    <div class="form-group">
      <input class="form-control" placeholder="Name" type="text">
    </div>
  </div>  <!-- end individual tab -->

  <div class="tab-pane" id="permission-tab" role="tabpanel">
    Permissions
  </div>  <!-- end individual tab -->
</div>

<button (click)="close.emit(true)" class="btn btn-primary btn-block" type="button">Add</button>
