.alert-stats-wrap {
  background-color: #0077BE;
  border-radius: 6px;
  padding: 12px 15px 15px;
  position: relative;
  margin: 15px 0 0;

  h4 {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    padding: 0 0 13px;
  }

  h2 {
    font-size: 32px;
    color: #fff;
    font-family: 'PT Mono', monospace;
    padding: 0 0 5px;
  }

  .progress {
    height: 10px;
    margin: 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: none;

    .progress-bar {
      text-shadow: none;
    }
  }
}

.time-analysis {
  background-color: #666F80;
  border-radius: 6px;
  padding: 20.5px 15px;
  margin: 0 0 10px;

  h6 {
    font-size: 14px;
    color: #fff;
    padding: 0 0 15px;
  }

  h2 {
    font-size: 32px;
    line-height: 32px;
    color: #fff;
    font-family: 'PT Mono', monospace;
    padding: 0;
  }
}

.custom-progress {
  height: 14px;
  border-radius: 100px;
  box-shadow: none;
  margin: 10px 0;
  position: relative;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  background: #fff;
}


.border {
  border-top: 1px solid #B3B5B8;
  width: 99%;
  margin-left: 5px;
}


.insight-dashboard {
  /*background: #fff;
  padding: 10px 10px 0;
  border-radius: 6px;
  border: rgba(0, 0, 0, 0.1) 1px solid;*/
}

.dashboard-activity-type {
  background: #fff;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  border-radius: 6px;
  padding: 0 20px;
  margin: 0 0 10px;
  color: #2B3036;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 165px;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-family: 'SF-Pro-Medium';
}

.dashboard-activity-type span {
  display: block;
  font-size: 12px;
  font-family: 'SF-Pro-Light';
  color: #7A7A7A;
}

.dashboard-activity-type:hover {
  background-color: #0077BE;
  border-color: #0077BE;
  color: #fff;
}

.dashboard-activity-type:hover span {
  color: #fff;
}

.graph-info-container {
  margin-top: 10px;

  .graph-info-data {
    margin-top: 17.5px;
    margin-left: 10px;

    span {
      margin-right: 35px;
      color: #fff;
    }
  }
}

.custom-padding-left {
  padding-left: 5px !important;
}

.custom-padding-right {
  padding-left: 5px !important;
}

.graph-info {
  margin-top: 17px;

  span {
    color: #fff;
    font-family: 'SF-Pro-Medium';
  }

  .graph-info-data {
    padding-top: 9px;
    margin: 0 15px;
  }
}

.graph-info-new {
  background-color: #424242;
  height: 41px;
}

.graph-info-resolved {
  background-color: #424242;
  height: 41px;
}

.graph-info-normal {
  background-color: #609F56;
  height: 41px;
}

.graph-info-high {
  background-color: #DD9037;
  height: 41px;
}

.graph-info-critical {
  background-color: #CE4E3F;
  height: 41px;
}

