/*.graphs-view {
    padding-top: 10px;
    padding-bottom: 20px;
}

.by-types,
.by-dates {
    background-color: #1B84FA;
    padding: 18px 30px;
}

.by-dates {
    background-color: #fff;
	box-shadow: 0 1px 0 0 #E4E8F0;
    position: relative;
    z-index: 1;
}

.by-types ul,
.by-dates ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.by-types ul li,
.by-dates ul li {
    margin: 0 30px 0 0;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 14px;
    color: rgba(255,255,255,0.5);
    text-transform: uppercase;
    cursor: pointer;
}

.by-types ul li.active {
    color: rgba(255,255,255,1);
}

.by-types ul li:last-child,
.by-dates ul li:last-child {
    margin: 0;
}

.by-dates ul li {
    color: #ACB3BF;
}

.by-dates ul li.active {
    color: #1B84FA;
}

.by-dates ul li .control-label {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    cursor: default;
}

.by-dates ul li .form-control {
    border-radius: 0;
    border: 0 none;
    display: inline-block;
    width: 180px;
    margin: 0;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 11px;
    font-weight: 500;
	color: #ACB3BF;
    vertical-align: middle;
    height: auto;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background-position: right center;
}

.graph-box {
    background-color: #fff;
    margin: 10px 0 0;
	border-radius: 6px;
    padding: 30px;
}

.graph-title {
    padding: 0 0 20px;
    text-align: center;
    color: #ACB3BF;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 14px;
    text-transform: uppercase;
}

.insights-sidebar:before,
.insights-sidebar:after {
    display: none;
}

.insights-sidebar h6 {
    color: #ACB3BF;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 14px;
    padding: 15px 0 0;
    text-transform: uppercase;
}

.insights-sidebar p {
    color: #1F2226;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding: 10px 0;
}

.insights-sidebar .btn {
    margin: 30px 30px 30px;
    height: 46px;
}

.box-legends {
    border-radius: 6px;
    background-color: #fff;
    padding: 20px 30px;
    margin: 10px 0 0;
}

.box-legends small {
    display: block;
    color: #ACB3BF;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 14px;
    padding: 0 0 5px;
    text-transform: uppercase;
}

.box-legends h4 {
    color: #1F2226;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding: 0 0 5px;
}

.box-legends p {
	color: #76C745;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    padding: 0;
}

.right-sidebar .insights-sidebar hr {
    margin: 0;
}

.share-form {
    padding: 20px 30px 0;
    margin-bottom: -25px;
}

.share-form .control-label {
    padding-top: 5px;
}

.close--btn {
    margin: 5px auto 15px;
    display: block;
}

.makemodal-table {
    background-color: #fff;
    border-radius: 6px;
    margin: 10px 0;
    padding: 10px 0 50px;
}

.makemodal-table .table > thead > tr > th {
    text-align: center;
}

.makemodal-table .table > thead > tr > th.text-left {
    text-align: left;
}

.makemodal-table .table > tbody > tr > td strong {
    font-weight: 500;
    color: #76C745;
}

.makemodal-table .table > thead > tr > th {
    padding: 20px 8px;
}

.makemodal-table .table > tbody > tr > td {
    padding: 14px 8px;
}

.makemodal-table .table > thead > tr > th:first-child,
.makemodal-table .table > tbody > tr > td:first-child {
    padding-left: 30px;
}

.makemodal-table .table > thead > tr > th:last-child,
.makemodal-table .table > tbody > tr > td:last-child {
    padding-right: 30px;
}*/