<div class="left-col">
  <ul class="nav nav-tabs">
    <li class="active">
      <button class="btn" type="button">Inbox</button>
    </li>
    <li>
      <button class="btn active" type="button">Sent</button>
    </li>
  </ul>
  <ul class="notes-list msg-list nice-scroll">
    <li class="unread"><span>15:02</span>
      <h5>Caroline Parsons</h5>
      <h4>Live Poker How To Win</h4>
      <p>Lorem Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of</p>
    </li>
    <li><span>15:02</span>
      <h5>Caroline Parsons</h5>
      <h4>Live Poker How To Win</h4>
      <p>Lorem Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of</p>
    </li>
    <li><span>15:02</span>
      <h5>Caroline Parsons</h5>
      <h4>Live Poker How To Win</h4>
      <p>Lorem Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of</p>
    </li>
    <li class="unread"><span>15:02</span>
      <h5>Caroline Parsons</h5>
      <h4>Live Poker How To Win</h4>
      <p>Lorem Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of</p>
    </li>
    <li><span>15:02</span>
      <h5>Caroline Parsons</h5>
      <h4>Live Poker How To Win</h4>
      <p>Lorem Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of</p>
    </li>
    <li><span>15:02</span>
      <h5>Caroline Parsons</h5>
      <h4>Live Poker How To Win</h4>
      <p>Lorem Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of</p>
    </li>
    <li><span>15:02</span>
      <h5>Caroline Parsons</h5>
      <h4>Live Poker How To Win</h4>
      <p>Lorem Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of</p>
    </li>
    <li><span>15:02</span>
      <h5>Caroline Parsons</h5>
      <h4>Live Poker How To Win</h4>
      <p>Lorem Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of</p>
    </li>
  </ul>
  <div class="new-button-wrap">
    <button class="btn btn-primary btn-block">New Message</button>
  </div>
</div>
<!-- end left col -->
<div class="right-col">
  <div class="msg-detail-wrapper nice-scroll">
    <div class="msg-detail">
      <div class="btns-actions clearfix"><a class="action-btn reply-btn pull-left" href="#">Reply</a> <a class="action-btn forward-btn pull-left"
                                                                                                         href="#">Forward</a>
        <a class="action-btn remove-btn pull-left" href="#">Remove</a></div>
      <div class="time">21 Feb 2018, 10:39</div>
      <h5>Jon Hill</h5>
      <h4>Finally A Top Secret Way You Can</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.</p>
    </div>
    <div class="row attachments-row">
      <p>Attached files</p>
      <div class="col-sm-4">
        <div class="attachment-box">
          <p>filename.pdf</p>
          <span>12mb</span></div>
      </div>
      <div class="col-sm-4">
        <div class="attachment-box">
          <p>filename.pdf</p>
          <span>12mb</span></div>
      </div>
    </div>
  </div>
</div>
