<div class="info-pages" id="wrapper">
  <div class="info-window window-2FA">
    <a class="back-btn" routerLink="/login">Back</a>
    <h4>Enter code</h4>
    <p>Your confirmation code has been sent to your mobile phone ***95</p>
    <form>
      <div class="form-group clearfix">
        <input class="form-control pull-left" type="text">
        <input class="form-control pull-left" type="text">
        <input class="form-control pull-left" type="text">
        <input class="form-control pull-left" type="text">
        <input class="form-control pull-left" type="text">
        <input class="form-control pull-left" type="text">
      </div>
      <p><a href="#">Request New Code</a></p>

      <div class="footer-btn">
        <button class="btn btn-primary btn-block" routerLink="/organization-select" type="submit">Confirm Code</button>
      </div>
    </form>
  </div>
</div>  <!-- end wrapper contents -->
