<div class="flex-window">
  <div class="page-header clearfix">

    <h1 class="pull-left" style="color: #fff">Products<span *ngIf="productList.totalCount"
                                                            class="badge">{{ productList.totalCount }}</span>
    </h1>
    <button (click)="openAddModal()"
            *ngIf="!showAddModal"
            class="action-btn addnew pull-right"
            container="body"
            placement="bottom"
            style="margin-right: 7px;"
            tooltip="Add Product"
            type="button">List View
    </button>
    <div class="global-search pull-right">
      <one-admin-search-key-filter (changeFilterSearchKey)="changeSearchKeyFilter($event)"
                                   [fields]="['products']"
                                   [noLabel]="true">
      </one-admin-search-key-filter>
    </div>
  </div>  <!-- end filters -->

  <one-admin-frozen-header-table
    (edit)="onEditProduct($event)"
    (remove)="onRemoveProduct($event)"
    [data]="productList.data"
    [info]="info"></one-admin-frozen-header-table>

  <one-admin-loader *ngIf="isLoading" size="sm"></one-admin-loader>
</div>

<div class="custom-modal">
  <div *ngIf="showAddModal" class="overlay"></div>
  <div *ngIf="showAddModal" @flyInOut class="add-product">
    <one-admin-widget-admin-product-add
      (close)="onCloseAddSection($event)"
      [isNew]="isAddModal"
      [selectedProduct]="selectedProduct"></one-admin-widget-admin-product-add>
  </div>
</div>
<!--Modal Confirmation-->
<div *ngIf="showConfirmModal" class="general-modal">
  <div class="modal-overlay"></div>
  <div class="modal-wrapper">
    <div class="modal-wrapper-contents text-center">
      <p>Are you sure you want to delete this product ?</p>
      <button (click)="onDelete(true)" class="btn btn-primary" type="button">Yes</button>
      <button (click)="onDelete(false)" class="btn btn-secondry" type="button">No</button>
    </div>
  </div>
</div>
