<one-admin-sidebar-window [headerTemplateRef]="header"
                          [sidebarTemplateRef]="sidebar"
                          [tableTemplateRef]="main">
  <ng-template #header>
    <div class="filters clearfix">
      <h4 class="pull-left">Area ({{areaListUI?.totalCount}})</h4>
      <div class="pull-right">
        <div class="form-group has-icon pull-left">
          <input [(ngModel)]="searchKey" class="form-control md-width" name="searchKey" placeholder="Search"
                 type="text">
        </div>
        <div class="form-group pull-left" style="margin-left: 12px">
          <select (ngModelChange)="onChangeSiteFilter($event)" [(ngModel)]="siteFilter" [ngModelOptions]="{standalone: true}"
                  class="form-control">
            <option value="0">Show all</option>
            <option *ngFor="let site of sites" [value]="site.id">{{ site.name }}</option>
          </select>
        </div>
        <button (click)="toggleCurrentView(View.ListView)" [class.active]="currentView === View.ListView" class="action-btn list-view-btn" container="body" placement="bottom"
                tooltip="List View" type="button">List View
        </button>
        <button (click)="toggleCurrentView(View.MapView)" [class.active]="currentView === View.MapView" class="action-btn map-view-btn" container="body" placement="bottom"
                tooltip="Map View" type="button">Map View
        </button>
        <button (click)="onCreateArea()" *oneAdminAllowedRole="[UserRole.SuperAdmin, UserRole.Admin]" [hidden]="showAddModal" class="action-btn addnew" container="body"
                placement="bottom" tooltip="New Area"
                type="button">Add New
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #main>
    <div class="flex-window">
      <one-admin-frozen-header-table
        (edit)="onEditArea($event)"
        (remove)="onDeleteConfirm($event)"
        [data]="areaListUI?.data | filterBy : ['name'] : searchKey"
        [info]="info"
      ></one-admin-frozen-header-table>
    </div>
  </ng-template>
  <ng-template #sidebar>
    <one-admin-widget-admin-area-filter (searchSelectedMapData)="searchSelectedMapData($event)">
    </one-admin-widget-admin-area-filter>
  </ng-template>
</one-admin-sidebar-window>

<div class="custom-modal">
  <div *ngIf="showAddModal" class="overlay"></div>
  <div *ngIf="showAddModal" @flyInOut class="add--sidebar left">
    <one-admin-widget-admin-area-add (addressLookup)="placeChanged($event)"
                                     (close)="onCloseAddSection($event)"
                                     [center]="getCenter"
                                     [isAddWindow]="isAddWindow"
                                     [isNew]="isAddModal"
                                     [selectedArea]="selectedArea">
    </one-admin-widget-admin-area-add>
  </div>
  <div *ngIf="showAddModal" @flyInOut1 class="company-map">
    <one-admin-one-map (changePosition)="changePosition($event)"
                       [height]="'100%'"
                       [markerClickable]="true"
                       [markerDraggable]="true"
                       [position]="center">
    </one-admin-one-map>
  </div>
</div>

<one-admin-loader *ngIf="isLoading" size="sm"></one-admin-loader>

<div *ngIf="showConfirmModal" class="general-modal">
  <div class="modal-overlay"></div>
  <div class="modal-wrapper">
    <div class="modal-wrapper-contents text-center">
      <p>Are you sure you want to delete this area?</p>
      <button (click)="onRemoveArea(true)" class="btn btn-primary" type="button">Yes</button>
      <button (click)="onRemoveArea(false)" class="btn btn-secondry" type="button">No</button>
    </div>
  </div>
</div>

<div *ngIf="showHideMap" class="map-wrapper">
  <one-admin-one-cluster-map [data]="dataClusterMap"
                             [displayedData]="{source: false, site: true, area: true, zone: false}"
                             typeInformation="Area">
  </one-admin-one-cluster-map>
</div>

