<div class="col-title color-white">Reset Password</div>
<form (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
  <div class="row narrow-row">
    <div class="col-sm-6">
      <div class="right-sidebar form-group">
        <label class="control-label">Current Password</label>
        <input class="form-control grey" formControlName="oldPassword" type="password">
      </div>
    </div>  <!-- end col -->
  </div>
  <div class="row narrow-row">
    <div class="col-sm-6">
      <div class="right-sidebar form-group">
        <label class="control-label">New Password</label>
        <input class="form-control grey" formControlName="newPassword" type="password">
      </div>
    </div>  <!-- end col -->
  </div>

  <div class="row narrow-row">
    <div class="col-sm-6">
      <div class="right-sidebar form-group">
        <label class="control-label">Confirm New Password</label>
        <input class="form-control grey" formControlName="confirmPassword" type="password">
      </div>
    </div>  <!-- end col -->
  </div>

  <div class="change-pass">
    <button [disabled]="passwordForm.invalid" class="btn btn-primary btn-block">Change Password</button>
  </div>
  <one-admin-loader *ngIf="isLoading" size="sm"></one-admin-loader>
</form>
<!--<button type="button" class="btn btn-success btn-block">Update</button>-->


