<one-admin-sidebar-window (toggleOverlaySidebar)="toggleOverlaySidebar($event)"
                          [headerTemplateRef]="header"
                          [notificationTemplateRef]="newItemsNotification"
                          [sidebarTemplateRef]="sidebar"
                          [tableTemplateRef]="main">
  <ng-template #header>
    <h1 class="pull-left alert-header">Alerts<span *ngIf="totalCount" class="badge">{{ totalCount }}</span></h1>
    <button (click)="toggleView(View.ReportsView)" [class.active]="currentView === View.ReportsView" class="action-btn graph-view-btn pull-right" container="body"
            placement="bottom" tooltip="Reports View"
            type="button">Reports View
    </button>
    <button (click)="toggleView(View.MapView)" [class.active]="currentView === View.MapView" class="action-btn map-view-btn pull-right" container="body"
            placement="bottom" tooltip="Map View"
            type="button">Map View
    </button>
    <button (click)="toggleView(View.ListView)" [class.active]="currentView === View.ListView" class="action-btn list-view-btn pull-right" container="body"
            placement="bottom" tooltip="List View"
            type="button">List View
    </button>
    <div class="global-search pull-right" style="margin-right: 21px;">
      <one-admin-search-key-filter (changeFilter)="changeSearchKeyFilter($event)"
                                   (changeFilterClearAll)="changeFilterClearAll($event)"
                                   (changeFilterPressKey)="changeFilterSearchPressKey($event)"
                                   [fields]="['identifier']"
                                   [noLabel]="true">
      </one-admin-search-key-filter>
    </div>
  </ng-template>

  <ng-template #newItemsNotification>
    <div class="alert-banner-wrap">
      <div (click)="viewNewItems()" *ngIf="newAlertCount" class="alert-banner">{{ newAlertCount }} new alerts</div>
    </div>
  </ng-template>

  <ng-template #main>
    <!-- List view -->
    <ng-container *ngIf="currentView === View.ListView">
      <one-admin-alerts-table
        (closeSidebar)="closeSidebar($event)"
        (newAlertArrived)="newAlertArrived()"
        (openDetail)="openDetail($event)"
        (openImage)="openImage($event)"
        [isResolvedOn]="getIsResolvedOn"
        [notifications]="notifications">
      </one-admin-alerts-table>
      <div *ngIf="isShowLoadMoreNotifications >= 19" class="load-more-wrap">
        <button (click)="loadMoreNotifications()"><span>Load More</span></button>
      </div>
      <!--  <pagination [boundaryLinks]="true" [totalItems]="totalCount" [maxSize]="10" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [itemsPerPage]="20"></pagination>-->
    </ng-container>
    <!-- Map view -->
    <one-admin-alerts-map (newAlertArrived)="newAlertArrived()" *ngIf="currentView === View.MapView"
                          [searchKeyFilter]="searchKeyFilter"
                          [sidebarFilter]="sideBarFilter"></one-admin-alerts-map>
    <one-admin-alerts-reports (currentViewReports)="currentViewReports = $event"
                              *ngIf="currentView === View.ReportsView"
                              [customDate]="getCustomDate"
                              [date]="getDate"
                              [isCustomDate]="getIsCustomDate"
                              [typeInfo]="getTypeInfo">
    </one-admin-alerts-reports>
  </ng-template>

  <ng-template #sidebar>
    <one-admin-alerts-sidebar (changeCustomFilter)="changeCustomFilter($event)"
                              (changeFilter)="changeSidebarFilter($event)"
                              (changeFilterBtn)="changeFilterBtn($event)"
                              (changeFilterGraph)="changeFilterGraph($event)"
                              (customFilterSelected)="customFilterSelected($event)"
                              (resetGraph)="resetGraph($event)"
                              (scrollToBottom)="sidebarWindowRef.scrollToBottomSidebar()"
                              (searchGraph)="searchGraph($event)"
                              (selectedStatusOut)="selectedStatusOut($event)"
                              (updateAlertsReports)="updateAlertsReports($event)"
                              [currentViewReports]="getCurrentViewReports"
                              [currentView]="getCurrentView"
                              [defaultOptionDate]="getDefaultOptionDate">
    </one-admin-alerts-sidebar>
  </ng-template>

</one-admin-sidebar-window>

<one-admin-loader *ngIf="isLoading" [size]="'sm'" [whiteOverlay]="true"></one-admin-loader>
<!--Modal No data-->
<div *ngIf="showNoDataModal" class="general-modal">
  <div class="modal-overlay"></div>
  <div class="modal-wrapper">
    <div class="modal-wrapper-contents text-center" style="width: 500px;">
      <h3 style="color: #2B3036">No data available.</h3>
      <p style="color: #929394; font-size: 14.6px">The date range is currently ‘Today’ - you can change this using the
        <span><a (click)="showSideBar()">filter.</a></span></p>
    </div>
  </div>
</div>
