<h5 class="mb-30">Add Identifier</h5>

<div class="table-scroller" style="height: calc(100% - 70px);">
  <h4>{{selectedType?.title}} 2 Actions</h4>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Action</th>
      <th>Site</th>
      <th>Trigger</th>
      <th>Reason</th>
      <th>Urgency</th>
      <th>Notify</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Action</td>
      <td>Site</td>
      <td>Enter</td>
      <td>VIP</td>
      <td>High</td>
      <td>IT</td>
      <td class="dropdown"><a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                              role="button"><img alt="arrow" height="6px" src="assets/images/dropdown-icon.svg"
                                                         width="16"></a>
        <ul class="dropdown-menu">
          <li><a href="#">Edit</a></li>
          <li><a href="#">Remove</a></li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>Action</td>
      <td>Site</td>
      <td>Enter</td>
      <td>VIP</td>
      <td>High</td>
      <td>IT</td>
      <td class="dropdown"><a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                              role="button"><img alt="arrow" height="6px" src="assets/images/dropdown-icon.svg"
                                                         width="16"></a>
        <ul class="dropdown-menu">
          <li><a href="#">Edit</a></li>
          <li><a href="#">Remove</a></li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>Action</td>
      <td>Site</td>
      <td>Enter</td>
      <td>VIP</td>
      <td>High</td>
      <td>IT</td>
      <td class="dropdown"><a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                              role="button"><img alt="arrow" height="6px" src="assets/images/dropdown-icon.svg"
                                                         width="16"></a>
        <ul class="dropdown-menu">
          <li><a href="#">Edit</a></li>
          <li><a href="#">Remove</a></li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<button (click)="close.emit(true)" class="btn btn-primary btn-block" type="button">Add New</button>
