<div class="add-people">
  <a (click)="close.emit(false)" class="clear-icon">Close</a>
  <h5>Add Assets</h5>
  <ul class="nav nav-tabs custom-tabs transparent-tabs" role="tablist">
    <li class="active" role="presentation"><a aria-controls="inbox" data-toggle="tab" href="#detail-tab" role="tab">Details</a>
    </li>
    <li role="presentation"><a aria-controls="sent" data-toggle="tab" href="#position-tab" role="tab">Position</a></li>
    <li role="presentation"><a aria-controls="sent" data-toggle="tab" href="#company-tab" role="tab">Company</a></li>
    <li role="presentation"><a aria-controls="sent" data-toggle="tab" href="#additional-tab" role="tab">Additional</a>
    </li>
    <li role="presentation"><a aria-controls="sent" data-toggle="tab" href="#images-tab" role="tab">Images</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="detail-tab" role="tabpanel">
      <div class="row narrow-row">
        <div class="col-sm-6">
          <div class="form-group">
            <input class="form-control" placeholder="Name" type="text">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control">
              <option>Type</option>
            </select>
          </div>
        </div>
      </div>  <!-- end row -->

      <div class="row narrow-row">
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control">
              <option>Site</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control">
              <option>Area</option>
            </select>
          </div>
        </div>
      </div>  <!-- end row -->

      <div class="row narrow-row">
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control">
              <option>Zone</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control">
              <option>Fixed</option>
            </select>
          </div>
        </div>
      </div>  <!-- end row -->

      <div class="row narrow-row">
        <div class="col-sm-6">
          <div class="form-group">
            <input class="form-control" placeholder="Asset ID" type="text">
          </div>
        </div>
      </div>  <!-- end row -->
    </div>  <!-- end individual tab -->

    <div class="tab-pane fade in" id="position-tab" role="tabpanel">
      <div class="row narrow-row">
        <div class="col-sm-6">
          <div class="form-group">
            <input class="form-control" placeholder="Latitude" type="text">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group has-btn">
            <input class="form-control" placeholder="Longitude" type="text">
            <button class="btn btn-primary" type="button">Lookup</button>
          </div>
        </div>
      </div>  <!-- end row -->

      <div class="company-map">
        <button class="btn btn-primary" type="button">Reset Changes</button>
      </div>
    </div>  <!-- end individual tab -->

    <div class="tab-pane fade in" id="company-tab" role="tabpanel">
      <div class="form-group">
        <select class="form-control">
          <option>Company Type</option>
        </select>
      </div>

      <div class="form-group has-btn">
        <select class="form-control" style="background-position:calc(100% - 100px) center;">
          <option>Select Company</option>
        </select>
        <button (click)="openSubWindow('adminCompany')" class="btn btn-primary" type="button">New</button>
      </div>

      <table class="table table-bordered">
        <thead>
        <tr>
          <th style="width:35%;">Company Name</th>
          <th>Type</th>
          <th>ID</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Intelico</td>
          <td>Supplier</td>
          <td>34</td>
          <td class="dropdown"><a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                                  role="button"><img alt="arrow" height="6px"
                                                             src="assets/images/dropdown-icon.svg" width="16"></a>
            <ul class="dropdown-menu">
              <li><a>Edit</a></li>
              <li><a>Remove</a></li>
            </ul>
          </td>
        </tr>

        <tr>
          <td>Intelico</td>
          <td>Supplier</td>
          <td>34</td>
          <td class="dropdown"><a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                                  role="button"><img alt="arrow" height="6px"
                                                             src="assets/images/dropdown-icon.svg" width="16"></a>
            <ul class="dropdown-menu">
              <li><a>Edit</a></li>
              <li><a>Remove</a></li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>  <!-- end individual tab -->

    <div class="tab-pane fade in" id="additional-tab" role="tabpanel">
      <div class="form-group">
        <input class="form-control" placeholder="Notes" type="text">
      </div>

      <div class="form-group">
        <input class="form-control" placeholder="Asset ID" type="text">
      </div>
    </div>  <!-- end individual tab -->

    <div class="tab-pane fade in" id="images-tab" role="tabpanel">
      <div class="row narrow-row">
        <div class="col-sm-4">
          <div class="img" style="background-image:url(assets/images/historydetail-pic.jpg)"><a class="clear-icon">Remove</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="img" style="background-image:url(assets/images/historydetail-pic.jpg)"><a class="clear-icon">Remove</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="add-img" style="">
            <button class="btn btn-primary" type="button">Upload Photo</button>
          </div>
        </div>
      </div>
    </div>  <!-- end individual tab -->
  </div>
  <button (click)="close.emit(true)" class="btn btn-primary btn-block" type="button">Create</button>
</div>
