<div class="" style="padding: 20px">
  <h3 style="color: #70AD47">System Total -> some Title</h3>
  <div>
    <h2>By day and hour (UTC)</h2>
  </div>

  <!--<div class="graph" style="height: 344px;" [chart]="systemTotal"></div>-->

  <!--<div class="graph-left" style="height: 344px;" [chart]="systemTotalLeft"></div>
-->
  <!--<div class="filter-btns-wrap">
    <button class="btn btn-success" (click)="plain()">plain</button>
    <button class="btn btn-primary" (click)="inverted()">inverted</button>
    <button class="btn btn-primary" (click)="polar()">polar</button>
    <button class="btn btn-primary" (click)="addPoint()">Add Point</button>
  </div>-->
  <!-- <button (click)="removeSerie()">Remove Serie</button>-->
  <!-- <button (click)="init()">Init</button>-->

  <!--<button (click)="removePoint()">Remove Point</button>
  <button (click)="changeType()">Update Chart</button>-->
  <div [chart]="chart"></div>

  <!--  <div class="filter-btns-wrap">
      <button class="btn btn-success">Export</button>
      <button class="btn btn-primary">Scroll</button>
      <button class="btn btn-primary">Chart</button>
    </div>-->
</div>
