<a (click)="close.emit(false)" class="clear-icon">Close</a>
<h5 class="mb-20 color-white">{{isNew ? 'Add' : 'Edit'}} Output</h5>
<form #webhooksForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="row narrow-row" style="margin-bottom: 0;">
    <div class="col-xs-12">
      <div class="right-sidebar form-group">
        <label class="control-label">Name</label>
        <input [(ngModel)]="webhooks.name" class="form-control" name="webhooksName" placeholder="Output name"
               required type="text">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="right-sidebar form-group">
        <label class="control-label">Type</label>
        <select [(ngModel)]="webhooks.typeId" [ngModelOptions]="{standalone: true}" class="form-control" required>
          <option disabled selected value="default">Please select (Super admin output)</option>
          <option *ngFor="let type of superAdminOutput" [value]="type.id">{{type.value}}</option>
        </select>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="right-sidebar form-group">
        <label class="control-label">URL</label>
        <input [(ngModel)]="webhooks.url" class="form-control" name="url" placeholder="URL" required type="text">
      </div>
    </div>
  </div>
  <button [disabled]="!webhooksForm.form.valid" class="btn btn-primary btn-block"
          type="submit">{{isNew ? 'Add' : 'Edit'}}</button>
</form>
<one-admin-loader *ngIf="isLoading" size="sm"></one-admin-loader>
