<div class="col-title">Theme Option</div>
<div class="row narrow--row">
  <div *ngFor="let bg of bgImages" class="col-sm-4 theme-img-wrap bg-item">
    <div (click)="onSelectImage(bg)" [class.active]="bg.id === settings.bgImg.id" [style.background-image]="'url(' + bg.url + ')'"
         class="img"></div>
    <button (click)="deletePersonalImage(bg.id)" *ngIf="bg.name === 'personalImage'" class="close--btn">delete
      image
    </button>
  </div>
</div>

<div class="upload-btn-wrap">
  <!--<input type="text" class="form-control grey" placeholder="Change Background" readonly>
  <button type="button" class="btn btn-primary">Browse</button>
  -->
  <!--<input type="file" name="pic" [(ngModel)]="pic" />-->
  <button class="btn btn-primary" type="button">Browse</button>
  <input #inputFile (change)="fileChange($event)" placeholder="Upload file" type="file">
</div>

<!--TODO: Disable this functionality for now-->
<!--<div class="form-group">-->
<!--<label class="control-label">Dashboard Position</label>-->
<!--<select class="form-control grey" name="defaultMenuPosition" [(ngModel)]="settings.menuPosition">-->
<!--<option value="left">Left Menu</option>-->
<!--<option value="right">Right Menu</option>-->
<!--</select>-->
<!--</div>-->

<button (click)="update()" class="btn btn-success btn-block" type="submit">Update</button>
