<div class="tab-content identifier-scroll">
  <div id="people-tab">
    <button class="btn btn-primary btn-xs">New</button>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th style="width:40%;">Name</th>
        <th>Type</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>Intelico</td>
        <td>Text</td>
        <td class="dropdown"><a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                                href="#" role="button"><img alt="arrow"
                                                                                height="6px" src="assets/images/dropdown-icon.svg" width="16"></a>
          <ul class="dropdown-menu">
            <li><a href="#">Edit</a></li>
            <li><a href="#">Remove</a></li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>Intelico</td>
        <td>Text</td>
        <td class="dropdown"><a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                                href="#" role="button"><img alt="arrow"
                                                                                height="6px" src="assets/images/dropdown-icon.svg" width="16"></a>
          <ul class="dropdown-menu">
            <li><a href="#">Edit</a></li>
            <li><a href="#">Remove</a></li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
