<div class="left-col">
  <div class="form-group notes-search-wrapper">
    <input class="form-control search-control" placeholder="Search Note" type="text">
  </div>
  <ul class="notes-list nice-scroll">
    <li>
      <h5>Notes Title</h5>
      <p>21 Feb 2018, 10:39</p>
    </li>
    <li>
      <h5>Notes Title</h5>
      <p>21 Feb 2018, 10:39</p>
    </li>
    <li>
      <h5>Notes Title</h5>
      <p>21 Feb 2018, 10:39</p>
    </li>
    <li>
      <h5>Notes Title</h5>
      <p>21 Feb 2018, 10:39</p>
    </li>
    <li>
      <h5>Notes Title</h5>
      <p>21 Feb 2018, 10:39</p>
    </li>
    <li>
      <h5>Notes Title</h5>
      <p>21 Feb 2018, 10:39</p>
    </li>
    <li>
      <h5>Notes Title</h5>
      <p>21 Feb 2018, 10:39</p>
    </li>
    <li>
      <h5>Notes Title</h5>
      <p>21 Feb 2018, 10:39</p>
    </li>
  </ul>
  <div class="new-button-wrap">
    <button class="btn btn-primary btn-block">Add New</button>
  </div>
</div>
<!-- end left col -->
<div class="right-col">
  <div class="notes-detail-wrapper nice-scroll">
    <div class="notes-detail">
      <h4>Title</h4>
      <h6>21 Feb 2018, 10:39</h6>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.</p>
    </div>
    <div class="note-action clearfix">
      <button class="action-btn remove-btn grey pull-right" type="button">Remove</button>
    </div>
  </div>
</div>
<!-- end right col -->
